.attractions {
  margin-top: 13px;
  padding-top: 35px;
}

.attractions__list {
  @include reset;

  li {
    padding-left: 80px;
    margin-bottom: 54px;
    text-align: left;

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.attractions__label {
  display: block;
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.attractions__input + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -81px;
  width: 55px;
  height: 55px;
  border-radius: 2px;
  background-color: $light-grey;
  cursor: pointer;
}

.attractions__input:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -65px;
  width: 23px;
  height: 16px;
  background: url("../img/icons/tick.svg");
  cursor: pointer;
}

.attractions__input:hover + label::before {
  background: $grey-dark;
}

.attractions__input:active + label::before {
  background: $grey-next;
}

.attractions__input:focus + label::before {
  background: $grey-next;
}

.attractions__input:active + label::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .attractions {
    grid-row: 3/4;
    grid-column: 1/-1;
    padding: 58px 0 25px 0;
    margin-top: 15px;


    .review__form-legend {
      margin-top: 0;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 123px;
        height: 1px;
        top: 27px;
        right: -183px;
        background: $grey-border;
      }

      &::before {
        position: absolute;
        content: "";
        width: 123px;
        height: 1px;
        top: 27px;
        left: -183px;
        background: $grey-border;
      }
    }
  }

  .attractions__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 69px;
    grid-row-gap: 62px;
    justify-content: center;
    padding-left: 5px;

    li {
      margin-bottom: 0;
      padding: 0 0 0 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .attractions {
    padding: 56px 0 23px 0;

    .review__form-legend {
      &::after {
        width: 280px;
        top: 23px;
        right: -340px;
      }

      &::before {
        width: 280px;
        top: 23px;
        left: -340px;
      }
    }
  }

  .attractions__list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }
}
