.contacts {
  margin-top: 20px;
  margin-bottom: 0;
}

.contacts__list {
  @include reset;

  li {
    text-align: left;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__label {
  display: block;
  padding-left: 23px;
  margin-bottom: 9px;
}

.contacts__input {
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 19px 0 15px 22px;
  background: $light-grey;
  border: none;
  outline: none;
  width: 100%;

  &--phone {
    background: $light-grey url("../img/icons/icon-form-phone.svg") no-repeat right;
  }

  &--email {
    padding: 18px 0 15px 22px;
    background: $light-grey url("../img/icons/icon-form-mail.svg") no-repeat right;
  }

  &:hover {
    background: $grey-dark;
  }

  &:focus {
    background: $white;
    box-shadow: 0 0 0 4px $grey-dark;
  }

  &::placeholder {
    color: $black;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    grid-row: 2/3;
    grid-column: 1/-1;
    padding: 24px 0 13px 0;

    .review__form-legend {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 123px;
        height: 1px;
        top: 11px;
        right: -183px;
        background: $grey-border;
      }

      &::before {
        position: absolute;
        content: "";
        width: 123px;
        height: 1px;
        top: 11px;
        left: -183px;
        background: $grey-border;
      }
    }
  }

  .contacts__list {
    text-align: left;

    li {
      margin-bottom: 25px;
    }
  }

  .contacts__label {
    display: block;
    padding-left: 20px;
    margin-bottom: 9px;
  }
}


@media (min-width: $desktop-width) {
  .contacts {
    padding: 70px 0 13px 0;

    .review__form-legend {
      &::after {
        width: 280px;
        top: 10px;
        right: -340px;
      }

      &::before {
        width: 280px;
        top: 10px;
        left: -340px;
      }
    }
  }

  .contacts__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contacts__label {
    padding-left: 0;
    padding-right: 16px;
    margin-bottom: 0;
  }

  .contacts__list li {
    margin: 0;
    margin-right: 78px;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;

    &:last-child {
      margin-right: 0;

      .contacts__label {
        padding-right: 20px;
      }
    }
  }

  .contacts__label-word {
    display: none;
  }

  .contacts__input {
    padding-right: 95px;
  }
}
