.contacts {
  margin-bottom: 0;
}

.contacts__list {
  @include reset;

  li {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__input {
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 18px 0 14px 22px;
  background: $light-grey;
  border: none;
  outline: none;
  width: 100%;

  &--phone {
    background: $light-grey url("../img/icons/icon-form-phone.svg") no-repeat right;
  }

  &--email {
    background: $light-grey url("../img/icons/icon-form-mail.svg") no-repeat right;
  }

  &:hover {
    background: $grey-dark;
  }

  &:focus {
    background: $white;
    box-shadow: 0 0 0 4px $grey-dark;
  }

  &::placeholder {
    color: $black;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    grid-row: 2/3;
    grid-column: 1/-1;
    border-top: 1px solid $grey-border;

    .review__form-legend {
      padding: 0 100px;
    }
  }

  .contacts__list {
    text-align: left;
  }

  .contacts__label {
    display: block;
    padding-left: 20px;
    margin-bottom: 20px;
  }
}


@media (min-width: $desktop-width) {
  .contacts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__label {
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .contacts__list li {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .contacts__label-word {
    display: none;
  }
}
