.introduce__list {
  @include reset;

  li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.introduce__label {
  line-height: 26px;
}

.introduce__input {
  border: none;
  outline: none;
  padding: 18px 0 22px 14px;
  background: $light-grey;

  &::placeholder {
    color: $black;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }
}
