.message__text {
  padding: 13px 23px 29px 21px;
  background: $light-grey;
  border: none;
  outline: none;
  margin-bottom: 50px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: $black;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }
}

@media (min-width: $tablet-width) {
  .message {
    grid-column: 1/-1;
    border-top: 1px solid $grey-border;

    .review__form-legend {
      padding: 0 100px;
      margin-bottom: 20px;
    }
  }
}
