.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  display: block;
  line-height: 26px;
  margin: 0;
  margin-right: 10px;
}

.copyright__link {
  &:hover svg path {
    fill: $blue;
  }

  &:active svg path {
    fill: $black;
    opacity: 0.3;
  }
}
