.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  display: block;
  line-height: 26px;
  margin: 0;
  margin-right: 12px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  &:hover svg {
    fill: $blue;
  }

  &:active svg {
    fill: $black;
    opacity: 0.3;
  }
}
