.feature {
  @include reset;
  padding: 34px 21px 12px 70px;
  text-align: left;
}


.feature__item {
  position: relative;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    background-size: cover;
  }

  &--house {
    &::before {
      width: 39px;
      height: 37px;
      background: url("../img/icons/icon-house.svg") no-repeat;
      transform: translate(-48px, -8px);
    }
  }

  &--souvenir {
    &::before {
      width: 32px;
      height: 38px;
      background: url("../img/icons/icon-gift.svg") no-repeat;
      transform: translate(-45px, -10px);
    }

    br {
      display: none;
    }
  }

  &--food {
    &::before {
      width: 40px;
      height: 35px;
      background: url("../img/icons/icon-burger.svg") no-repeat;
      transform: translate(-52px, -3px);
    }
  }
}

.feature__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .feature {
    text-align: center;
    padding: 60px 31px 22px 31px;
    grid-column-gap: 60px;
  }

  .feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      position: static;
      display: block;

      background-size: cover;
      margin-bottom: 26px;
    }

    &--house {
      .feature__text {
        padding: 0 10px;
      }

      &::before {
        width: 76px;
        height: 72px;
        transform: translate(0, 0);
      }
    }

    &--souvenir {
      order: 3;

      &::before {
        width: 64px;
        height: 75px;
        transform: translate(0, -3px);
        margin-bottom: 22px;
      }
    }

    &--food {
      .feature__text {
        padding: 0 20px;
      }

      &::before {
        width: 76px;
        height: 67px;
        transform: translate(0, 4px);
        margin-bottom: 30px;
      }
    }
  }

  .feature__title {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .feature {
    padding: 60px 50px 40px 50px;
    grid-column-gap: 104px;
  }

  .feature__item {
    &--food {
      .feature__text {
        padding: 0;
      }
    }

    &--souvenir {
      br {
        display: block;
      }
    }
  }
}
