.footer {
  padding: 33px 0;
}

.footer__link {
  display: block;
  color: $black;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 37px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__link {
    margin: 0;
    margin-right: 13px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 36px;
    justify-content: space-around;
  }
}
