.intro {
  width: 100%;
  min-height: 389px;
  background: $blue url("../img/background/bg-mobile.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: url("../img/background/bg-mobile@2x.jpg") no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    height: 56px;
    background: url("../img/decor/intro-triangl.svg") no-repeat center;
  }

  &--small {
    min-height: 158px;
    background: $blue url("../img/background/bg-mobile.jpg") bottom;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/background/bg-mobile@2x.jpg") bottom;
      background-size: cover;
    }
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 518px;
    margin-top: 0;
    background: $blue url("../img/background/bg-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/background/bg-tablet@2x.jpg") no-repeat 50%;
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      bottom: 0;
      height: 56px;
      background: url("../img/decor/intro-triangle-2.svg") no-repeat center;
    }

    .intro__slogan {
      width: 461px;
      height: 350px;
    }

    &--small {
      min-height: 290px;
      background: $blue url("../img/background/bg-tablet.jpg") bottom;

      @media (min-resolution: 2dppx) {
        background: url("../img/background/bg-tablet@2x.jpg") no-repeat left left;
        background-size: cover;
      }

      .intro__slogan {
        width: 456px;
        height: 77px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: $blue url("../img/background/bg-desktop.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/background/bg-desktop@2x.jpg") no-repeat 50%;
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      bottom: -1px;
      height: 55px;
      background: url("../img/decor/intro-triangle-3.svg") no-repeat center;
    }

    &--small {
      min-height: 290px;
      background: $blue url("../img/background/bg-desktop.jpg") bottom;

      @media (min-resolution: 2dppx) {
        background: url("../img/background/bg-desktop@2x.jpg") no-repeat bottom;
        background-size: cover;
      }

      .intro__slogan {
        width: 459px;
        height: 79px;
      }
    }
  }
}
