.location {
  padding-top: 33px;
}

.location__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.location__text {
  padding: 0 26px;
}

.location__button {
  margin-bottom: 20px;

  &--blue {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: $white;
    padding: 14px 32px;
    background: $blue;
    outline: none;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .location {
    display: flex;
    flex-direction: column;
  }

  .location__button {
    margin: 0 160px 20px 160px;

    &--blue {
      padding: 14px 0;
    }
  }

  .location__title {
    font-size: 30px;
  }

  .location__text {
    padding: 0 167px;
  }

  iframe {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .location__text {
    padding: 0 383px;
  }

  .location__button {
    margin: 0 383px 20px 383px;
  }
}
