.location {
  padding-top: 32px;
}

.location__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.location__text {
  font-size: 14px;
  line-height: 24px;
  padding: 0 26px;
  margin-bottom: 27px;

  br {
    display: none;
  }
}

.location__button {
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {
  .location {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
  }

  .location__button {
    margin: 0 155px 58px 155px;

    &--blue {
      padding: 14px 0;
    }
  }

  .location__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .location__text {
    padding: 0 160px;
    margin-bottom: 39px;

    br {
      display: block;
    }
  }

  iframe {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .location__text {
    padding: 0 370px;
    margin-bottom: 44px;
  }

  .location__button {
    margin: 0 372px 66px 370px;
  }
}
