// main-nav--nojs - реализация меню без js

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--open .main-nav__list {
  display: block;
}

.main-nav--open .main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 15px;
  border: none;
  width: 23px;
  height: 23px;
  background: transparent url("../img/icons/icon-cross.svg") no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  @include reset;
  display: none;
}
// Класс - реализация без js

.main-nav__toggle {
  position: absolute;
  bottom: 15px;
  right: 20px;
  border: none;
  width: 23px;
  height: 23px;
  background: transparent url("../img/icons/icon-menu.svg") no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.main-nav__item {
  background: $blue;
  border-top: 1px solid $light-blue;
  border-bottom: 1px solid $blue-active;

  &:last-child {
    box-shadow: inset 0 -5px 7px -2px $black-opacity;
  }

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
  }
}

.main-nav__link {
  display: block;
  color: $white;
  padding: 7px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;

  &:active {
    color: $white-opacity;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    background: transparent;
    border: none;

    &:last-child {
      box-shadow: none;
    }

    &:hover {
      background: transparent;
    }

    &:active {
      background: transparent;
    }

    &:nth-child(2) {
      margin-right: 160px;
      margin-left: 27px;
    }
  }

  .main-nav__link {
    color: $black;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;

    &:hover {
      color: $blue;
    }

    &:focus {
      color: $grey-brown;
    }

    &:active {
      color: $black;
      font-weight: 700;
      opacity: 0.3;
    }

    &--active {
      color: $grey-brown;

      &:hover {
        color: $grey-brown-dark;
      }

      &:focus {
        background: $white;
        color: $grey-brown-dark;
      }

      &:active {
        color: $grey-brown-dark;
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    &:nth-child(2) {
      margin-right: 245px;
      margin-left: 26px;
    }
  }
}
