.social-list {
  display: flex;
  justify-content: center;

  @include reset;
  margin-bottom: 45px;

  &--twitter {
    background: url("../img/icons/twitter.svg");
  }

  &--facebook {
    background: url("../img/icons/facebook.svg");
  }

  &--youtube {
    background: url("../img/icons/youtube.svg");
  }
}

.social-list__link {
  display: block;
  width: 46px;
  height: 48px;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
  }
}
