.social-list {
  display: flex;
  justify-content: center;

  @include reset;
  margin-bottom: 45px;
}

.social-list__link {
  display: block;
  width: 46px;
  height: 48px;
  margin-left: 6px;

  &:hover svg rect {
    fill: $blue-hover;
  }

  &:active svg rect {
    fill: $blue-active;
  }

  &:active svg path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
  }
}
