.button {
  display: flex;
  justify-content: flex-end;
}

.button__item {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;

  &--repeat {
    margin-right: auto;
  }

  &--subtitles {
    margin-right: 30px;
  }

  &:hover svg path {
    fill: $black-next;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .button__item svg path {
    fill: $white;
  }

  .button__item {
    &:hover svg path {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
