.button {
  display: flex;
  justify-content: flex-end;
}

.button__item {
  border: none;
  background: transparent;
  padding: 0;

  svg {
    color: $button-base;
  }

  &--repeat {
    margin-right: auto;
  }

  &--subtitles {
    margin-right: 34px;
  }

  &:hover svg {
    color: $black-next;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .button__item {
    svg {
      color: $white;
    }

    &:hover svg {
      color: $white;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--subtitles {
      margin-right: 30px;
    }
  }
}
