.gallery {
  padding: 17px 0 0 0;
}

.gallery__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 28px;
}

.gallery__text {
  line-height: 24px;
  margin-bottom: 31px;
  padding: 0 20px;
}

.gallery__list {
  @include reset;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 38px 60px;
  }

  .gallery__title {
    font-size: 30px;
    margin-bottom: 34px;
  }

  .gallery__text {
    padding: 0 110px 46px 110px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
    padding-top: 74px;
  }

  .gallery__text {
    padding: 0 380px;
    margin-bottom: 79px;
  }
}
