.photo__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  text-align: left;
}

.photo__title {
  grid-row: 2/3;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

.photo__author {
  line-height: 24px;
  text-transform: none;
}


@media (min-width: $tablet-width) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .photo__item {
    flex-basis: 50%;

    & img {
      width: 100%;
    }

    &--wide {
      flex-basis: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo__item {
    flex-basis: 33.333%;

    &--wide {
      flex-basis: 100%;
    }
  }
}
