.photo {
  padding: 0 20px;
}

.photo__item {
  text-align: left;
}

.photo__picture {
  display: block;
  width: 100%;
}

.photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

.photo__author {
  line-height: 24px;
  text-transform: none;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .photo__item {
    flex-basis: 50%;

    &--wide {
      flex-basis: 100%;
    }
  }


  .photo__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    background: $light-grey;
    box-sizing: border-box;
  }
}


@media (min-width: $desktop-width) {
  .photo__item {
    flex-basis: 33.333%;
    position: relative;

    &--wide {
      flex-basis: 100%;
    }
  }

  .photo__caption {
    position: absolute;
    background: $black-opacity;
    bottom: 0;
    z-index: 3;
    color: $white;
  }
}
