.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1200px;
    background: $white;
    box-shadow: $shadow-page;
  }
}


.blue {
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  padding: 14px 47px 18px 47px;
  background: $blue;
  outline: none;
  border: none;

  &:hover {
    background: $blue-hover;
  }

  &:active {
    color: $white-opacity;
    background: $blue-active;
  }

  &--disabled {
    background: $grey;
    color: $white;
  }
}
