$black: #000000;
$black-next:#333333;
$white: #ffffff;
$white-opacity:rgba(255, 255, 255, 0.3);
$blue: #81b3d2;
$light-blue:#9ac2db;
$blue-hover:#669ec0;
$blue-active:#5496bd;
$grey: #eeeeee;
$grey-next:#d6d6d6;
$light-grey: #f2f2f2;
$grey-dark: #e5e5e5;
$grey-border:#dbdbdb;


$shadow:  0 0 2px rgba(0, 0, 0, 0.5);
$shadow-page:0 0 10px rgba(0, 0, 0, 0.5);
$black-opacity: rgba(0, 0, 0, 0.3);
$grey-brown:#766357;
$grey-brown-dark:#604e43;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
